body{
  background-color:gainsboro;
  font-family: Verdana,Arial,sans-serif;
}
div{
  border-radius:20px;
}
.header{
  margin: 50px 80px;
  border: 2px solid black;
  text-align: center;
}
.content
{
  margin: 50px auto;
  border:2px solid darkred;
  padding: 20px;
  overflow: auto;
}
#left{
  float: left;
}
button, input
{
  display:block;
  width:250px;
  margin-left: auto;
  margin-right:auto;
}
canvas
{
  
border: 2px groove red;
}